<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <jsp-config>
        <jsp-property-group>
            <description>
                Treat .jspf fragments as JSP code.
            </description>
            <url-pattern>*.jspf</url-pattern>
            <el-ignored>false</el-ignored>
            <scripting-invalid>false</scripting-invalid>
            <is-xml>false</is-xml>
        </jsp-property-group>
    </jsp-config>

    <!--  Entry file  -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--  Entry file  -->
</web-app>